<h1>Listing registrations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th>Plate</th>
    <th>State</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registers.each do |register| %>
  <tr>
    <td><%= register.name %></td>
    <td><%= register.password %></td>
    <td><%= register.plate %></td>
    <td><%= register.state %></td>
    <td><%= register.role %></td>
    <td><%= link_to 'Show', register %></td>
    <td><%= link_to 'Edit', edit_register_path(register) %></td>
    <td><%= link_to 'Destroy', register, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Register', new_register_path %>
