<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @register.name %>
</p>

<p>
  <b>Password:</b>
  <%= @register.password %>
</p>

<p>
  <b>Plate:</b>
  <%= @register.plate %>
</p>

<p>
  <b>State:</b>
  <%= @register.state %>
</p>

<p>
  <b>Role:</b>
  <%= @register.role %>
</p>


<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
