<h1>PlateIt</h1>
<div class="depot-form">
  
  <%= error_messages_for 'post'%>
  
  <fieldset>
    <legend>Post a message for a license plate</legend>
    
    <%= form_for :post do |form| %>
      <p>
        <label for="plateId">Plate id:</label>
        <%= form.text_field :plateId%>
      </p>
      
      <p>
        <label for="state">State:</label>
        <%= form.text_field :state%>
      </p>
      
      <p>
        <label for="message">Message:</label>
        <%= form.text_field :message%>
      </p>
      
      <%= submit_tag "PlateIt", :class => "submit"%>
    <% end %>
  </fieldset>
  
</div>
