<h1>Welcome to PlateIt</h1>

<h2><%= link_to "Post a new message for a plate", :controller => 'post', :action => 'post' %></h2>

<h3>Search for posts by plate</h3>
<%= form_for :post, :url => { :action => "posts_by_plate", :controller => "post" } do |form| %>
  <label for="plateId">Plate id:</label>
  <%= form.text_field :plateId%>
  
  <label for="state">State:</label>
  <%= form.text_field :state%>
  
  <%= submit_tag "Search", :class => "submit"%>
<% end %>

<h3>Last 5 posts <%=link_to "All", :controller => 'post', :action => 'posts_by_user' %></h3>
<table>
<tr>
  <td><strong>State</strong></td>
  <td><strong>Plate id</strong></td>
  <td><strong>Message</strong></td>
</tr>
  
  <% for post in @posts%>
    <tr>
      <td>
        <%= h(Plate.find_by_id(post.plate).state)%>
      </td>
      <td>
        <%= h(Plate.find_by_id(post.plate).plateId)%>
      </td>
      <td>
        <%= h(post.message)%>
      </td>
    </tr>
  
  <% end%>  
  
</table>